h2 {
    text-align: center;
    background-color: #666;
    padding: 30px;
    font-size: 35px;
    color: white;
}

img {
    height: 30%;
    width: 30%
}

table {
    width: 30%;
    border-spacing: 10px
}

input[type=text] {
    border: solid black 2px;
    border-radius: 4px;
    width: 80%;
    padding: 12px 20px;
}

input[type=password] {
    border: solid black 2px;
    border-radius: 4px;
    width: 80%;
    padding: 12px 20px;
}

input[type=submit] {
    width: 90%;
    background-color: #008CBA;
    padding: 15px 32px;
    border-radius: 12px;
    color: white
}

h3 {
    text-align: center;
    background-color: #666;
    padding: 15px;
    font-size: 12px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}